.rootFile {

    & .rootFile__files {
        max-height: 0;
        overflow: hidden;
        pointer-events: none;
        transition: all .5s;
        cursor: pointer;

        &__open {
            max-height: 300vh;
            pointer-events: all;
        }
    }

    &>span {
        padding: .6rem 1.9rem .6rem 2.8rem;
        font-family: Gt-Whelshime-Regular, sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        color: #7F8995;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: .8rem;
        cursor: pointer;
        margin-bottom: .2rem;
        white-space: nowrap;

        & img:nth-child(2) {
            margin-left: auto
        }
    }
}

.file {

    & .blob {
        background-color: transparent;
        transition: all .1s;
    }

    & .blob:hover {
        background: #F5F5F5;
    }

    & div {

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: #dee2e6;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;

        }

        &::-webkit-scrollbar-thumb {
            background: #adb5bd;
            border-radius: 5px;
        }

    }

    & .filename {
        font-family: Gt-Whelshime-Regular, sans-serif;
        font-size: 14px;
        cursor: pointer;
        font-weight: 400;
        color: #7F8995;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: .8rem;
        white-space: nowrap;
    }
}