.taskForm {
    width: 40%;
    // height: 50%;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--br-md);
    // background-color: aqua;
    border: 1px solid var(--border-color-primary);
    background: white;
    font-family: inherit;
    padding: 1.6rem 2rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;

    &__open {
        animation: displayForm .5s forwards;
        pointer-events: all;
    }

    & .formHeading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }

    & .formInputs {
        padding: 1rem 0 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;


    }
}

@keyframes displayForm {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}